{{>nav}}

<div class="dashPage">
    <div class="dash_container">
        <img id="heroImage" src="./images/hero_medium.jpeg"></img>
        <div class="welcomeBack centerScreen">
            <h1>Welcome {{#if logged_in}}back, {{users.first_name}} {{/if}}</h1>
            <h2>It is great to have you here {{#if logged_in}} and contributing! {{/if}}</h2>
            {{#if logged_in}}
            <form class="form new-post-form">
                <div class="form-group">
                    <label for="post-title">post title:</label><br>
                    <input class="form-input" type="text" id="post-name" name="post-name" />
                </div>
                <div class="form-group">
                    <label for="project-content">content:</label><br>
                    <textarea class="form-input" id="post-content" name="post-content"></textarea>
                </div>
                <div class="form-group">
                    <button type="button" class="postBtn btn-primary">create</button>
                </div>
            </form>
            {{/if}}
        </div>
    </div>
    <div class="block"></div>
    <div class="columns is-mobile dashboard">
        <div class="column is-10 is-offset-1">
            <div id="dashboardCon">
                <h1>Discussions and Articles</h1>
                <div class="noobBox">
                    {{#each (limit posts 10)}}
                    <div class="postCard postLink" data-id={{this.id}}>
                        <h2 class="postLink" data-id={{this.id}}>{{this.title}}</h2>
                        <p class="postLink" data-id={{this.id}}>{{user.first_name}}</p>
                    </div>
                    {{/each}}
                    {{#each topics as |topic|}}
                    <div class="postCard topicCard">
                        <h2 class="topicClick" data-id={{this.id}}>{{this.topic_name}}</h2>
                    </div>
                    {{/each}}
                    <script src="./js/topics.js"></script>
                    <script src="./js/post.js"></script>