{{>nav}}
{{>signup}}


<section class="post">
    <div class="comments"></div>
    <div class="postBar float-container">
        <div class="postBar float-child">~{{post.user.first_name}} {{post.user.last_name}}<button id="deletePost" class="delete {{#unlesseq user_id
            post.user_id}} hide {{/unlesseq}}" data-id={{post.id}}></button>
        </div>
    </div>
    </div>
    <div class="postPage box">{{post.title}}</div>
    <div class="postContent box">
        {{post.post}}
    </div>
    {{#if logged_in}}
    <div class="form-group">
        <button type="button" class="postCommentBtn button" data-id={{post.id}}>Create</button>
        <input id="addComment" class="input column is-two-thirds is-offset-2" type="text"
            placeholder="Add a new comment">
    </div>
    {{/if}}
    {{#unless logged_in}}
    <h2>Log in to add a comment or sign up <button id="signUpComment">here!</button></h2>
    <script src="/js/signUp.js"></script>
    {{/unless}}
    {{#each post.Comments as |comment|}}
    {{#log @root.post}} {{/log}}
    {{#ifeq @root.post.user_id comment.user.id }}
    {{!-- We have to figure out how to show the delete button only to the owner of the comment --}}
    <div class="ownerBar">~{{comment.user.first_name}}</div>
    <div class="commentOwner box">{{#ifeq @root.user_id comment.user_id}} <button class="deleteComment delete"
            data-id={{comment.id}}></button>
        {{/ifeq}}
        {{comment.comments}}</div>
    {{else}}
    <div class="commentBar">~{{comment.user.first_name}}{{#ifeq @root.user_id comment.user_id}} <button
            class="deleteComment delete" data-id={{comment.id}}>
        </button>
        {{/ifeq}}
    </div>
    <div class="commentPage box">{{comment.comments}}</div>
    {{#ifeq user.id req.session.user_id}}
    {{/ifeq}}
    {{/ifeq}}
    {{/each}}

</section>
<script src="/js/comment.js"></script>