{{>nav}}

<div id="titleForum">
    <h1>CODE NOOB</h1>
</div>
<section class="post">
    <div class="comments"></div>
    <div class="postBar float-container">
        <div class="postBar float-child">~{{post.user.first_name}} {{post.user.last_name}}</div>
        <button id="deletePost" class="postBar float-child" data-id={{post.id}}>delete<i
                class="far fa-trash-alt"></i></button>
    </div>
    <div class="postPage box">{{post.title}}</div>
    <div class="postContent box">
        {{post.post}}
    </div>
    <div class="form-group">
        <button type="button" class="postCommentBtn button" data-id={{post.id}}>Create</button>
        <input id="addComment" class="input column is-two-thirds is-offset-2" type="text"
            placeholder="Add a new comment">
    </div>
    {{#each post.Comments as |comment|}}
    {{!-- this works if comment.user.id is as a string --}}
    {{#ifeq post.user_id comment.user.id }}
    <div class="ownerBar">~{{comment.user.first_name}}</div>
    <div class="commentOwner box">{{comment.comments}}</div>
    {{else}}
    <div class="commentBar">~{{comment.user.first_name}}</div>
    <div class="commentPage box">{{comment.comments}}</div>
    {{/ifeq}}
    {{/each}}

</section>
<script src="/js/comment.js"></script>